
.column h1 { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; 
    width: 100vw;
    margin-top: -10vh; 
    font-size: 48px;
    padding: 20px;
}

.column p { 
    font-size: 24px;
    text-align: center;
    position: flex; 
    margin-top: -20vh; 
    padding: 0 20px; 
    text-align: center; 
}

.login-button { 
    top: calc(40% + 60px);
}

.logout-button { 
    top: calc(40% + 120px);
}